<section class="users-section">
  <h1>friends</h1>
  <ul class="users-list">
    <% @friendships.each do |friendship| %>
      <li>
        Name: <%= friendship.rqstuser.name %>
      </li>
    <% end %>
  </ul>
  <h1>pending friends</h1>
  <ul class="users-list">
    <% @inverse_friendships.each do |friendship| %>
      <li>
        Name: <%= friendship.user.name %>
      </li>
    <% end %>
  </ul>
</section>
