<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1 class="header-title"> Friend Requests </h1>
    </div>
    <div class="col-lg-8">
      <% @friend_requests.each do |friendship| %>
        <% unless friendship.status  %>
          <h1 class='subtitle'><%= "#{ friendship.user.name} wants to connect with you" %></h1>
          <button type="button" class="btn btn-md custom-btn-2">
            <%= confirm_btn friendship %>
          </button>
          <button type="button" class="btn btn-md custom-btn">
            <%= decline_btn friendship %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
